.medal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  
  .medal {
    padding: 0.5em;
    font-size: xx-large;
  }

  .gold {
    color: var(--gold);
  } .silver {
    color: var(--silver);
  } .bronze {
    color: var(--bronze);
  }


}

.mybadge-container{
  margin-bottom: 1em;
  background-color: var(--blend-primary-secondary-5);
  border-radius: 6px;
  width: fit-content;
}

.my-badges {
  
  --badge-size: 50px;
  --sparkle-scale: calc(400/50);

  .badge-group-label{
    font-size: x-large;
  }

  .badge-group-container {
    display: flex;
    flex-wrap: wrap;

  }

  .badge-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    justify-content: center;
    align-items: center;
    max-width: var(--badge-size);
  }

  .badge-image-container {
    
    overflow: hidden;
    cursor : pointer;
    transition : .1s;

    &:hover {
      transform: scale(1.1);
    }
  }

  .badge-image{
    z-index: 1;
    width: var(--badge-size);
    height: var(--badge-size);
  }
  
  .badge-icon{
    z-index: 1;
    .svg-icon{
      width: var(--badge-size);
      height: var(--badge-size);
    }
  }

  .badge-not-acquired{
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .badge-requirement-info{
    font-size: large;
    white-space: nowrap;
    overflow: scroll;
  }

  .progress-bar-container {
    height: 10px;
    width: var(--badge-size);
  }

  .progress-bar {
    background-color: var(--tertiary-very-low);
    height: 5px;
    border-radius: 2px;
  }
    
  .sparkle-effect {
    position: absolute;
    z-index: 2;
    width: var(--badge-size);
    height: var(--badge-size);
    background-image: url('/assets/images/sparkle_sheet.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  @keyframes spriteAnimation {
    0% { background-position: 0 0; }
    100% { background-position: calc(-11200px / var(--sparkle-scale)) 0; }
  }
  
  .animate-sparkle {
    animation: spriteAnimation 0.5s steps(28) forwards;
  }
}

.badge-container {
  position: relative;
  display: block;
}

