.medal-container {
  display: flex;
  align-items: center;
  justify-content: center;


  .medal {
    display: flex;
    align-items: center;
    margin-right: 20px; /* Adjust spacing as needed */
  }

  .circle {
    width: 50px; /* Adjust size as needed */
    height: 50px; /* Adjust size as needed */
    border-radius: 50%;
    margin-right: 10px;
  }

  .gold {
    color: var(--gold);
  } .silver {
    color: var(--silver);
  } .bronze {
    color: var(--bronze); /* Bronze color */
  }


}

.my-badges {

  .badge-group-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: var(--blend-primary-secondary-5);
    padding: 1em;
    column-gap: 1em;
    margin-bottom: 1em;
  }

  .badge-container {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-300);
    padding: 1em;
    justify-content: center;
    align-items: center;
    max-width: 60px;
    row-gap: 1em;


  }

  .badge-image-container {
    
    height: 60px;
    overflow: hidden;
    cursor : pointer;
    transition : .6s;

    .light {
      width : 20px;
      height: 60px;

      background-color: rgba(255, 255, 255, 1);
      transform: skew(-20deg) translate(-120px, -60px);
    }

    &:hover {
      transform: scale(1.1);
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.35);

      .light {
        background-color: rgba(255, 255, 255, 0.2);
        transform: skew(-20deg) translate(60px, -60px);
        transition : .7s;
      }
    }
  }
  
  .badge-image{
    width: 60px;
    height: 60px;
  }

  .badge-not-acquired{
    filter:brightness(0.2) blur(2px);
  }

  .badge-requirement-info{
    white-space: nowrap;
    overflow: scroll;
  }



  .progress-bar-container {
    height: 10px;
    width: 60px;
  }

  .progress-bar {
    background-color: green;
    height: 100%;
    border-radius: 2px;
  }
  


}
